.cards-set {
  gap: var(--card-set-gap);
  display: flex;
  flex-wrap: wrap;

  @include mq(tab) {
    --card-item: 2;
  }

  @include mq(desk) {
    --card-item: 3;
  }

  /* margin-top: calc(-1 * $card-set-gap);
    margin-left: calc(-1 * $card-set-gap); */
}

.cards-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-set-gap)) / var(--card-item));
  /* margin-top: $card-set-gap;
    margin-left: $card-set-gap; */
}
