.logo {
  color: $blue-logo-color;
  font-family: 'Raleway', cursive;
  font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  
}

.nav__logo {
  padding: 16px 15px 16px 0px;
  @include mq(tab) {
      margin-right: 88px;
    }
  
    @include mq(desk) {
      margin-right: 93px;
      font-size: 26px;
      line-height: 1.19;
    }
}

.dark-logo {
  color: $dark-logo-color;
}

.white {
  color: $white-color;
}