.checks {
  margin-bottom: 30px;
}

.checkbox-link {
  color: $blue-logo-color;
}

.checkbox-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.checkbox {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  appearance: none;

}

.checkbox:checked {
  border: none;
}

.checkmark-icon {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 9px;
  transition: border 250ms $cub-bez;
}


.checkbox-label input:checked~.checkmark-icon {
  background-color: $blue-logo-color;
  border: 2px solid $blue-logo-color;
}

.checkbox-label input {
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: $cub-bez;
}

.checkbox-label input:hover~.checkmark-icon,
.checkbox-label input:focus~.checkmark-icon {
  border: 2px solid $blue-logo-color;
}