.nav {
  display: flex;
  align-items: center;
  color: $color-dark;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
  @include mq(mob-only) {
    display: none;
  }
}

.nav__link {
  display: flex;

  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cub-bez;
  &:hover,
  &:focus {
    color: $blue-logo-color;
  }
}

.nav__link--active {
  color: $blue-logo-color;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $blue-logo-color;
  }
}
