.section-title {
  font-weight: 700;
  color: $color-dark;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  @include mq(desk) {
      font-size: 36px;
    }
}



