/* block 1  */

:root {
  --card-item: 1;
  --card-set-gap: 30px;
}

$background-dark-grey: #2f303a;
$grey-color: #757575;
$blue-logo-color: #2196f3;
$blue-dark: #188ce8;
$dark-logo-color: #000000;
$white-color: #ffffff;
$color-dark: #212121;
$light-gray-backg: #f5f4fa;
$footer-primary-color: rgba(255, 255, 255, 0.6);
$grey-edging: rgba(238, 238, 238, 1);
$button-shadow: rgba(0, 0, 0, 0.25);

$team-btm: rgba(0, 0, 0, 0.12);
$team-bl: rgba(0, 0, 0, 0.14);
$team-br: rgba(0, 0, 0, 0.2);
$grey-card-content: #eeeeee;
$hero-shadow: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
$social-icon: rgba(175, 177, 184, 1);
$footer-icon: rgba(255, 255, 255, 0.1);
$cub-bez: cubic-bezier(0.4, 0, 0.2, 1);
$transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$bg-portf: rgba(33, 150, 243, 0.9);
$benef-card-icon: rgba(245, 244, 250, 1);
$bgcolor-wdtext: rgba(47, 48, 58, 0.8);
$bgmodal: rgba(255, 255, 255, 1);
$bt-close: rgba(0, 0, 0, 0.1);
$bt-submit-footer: rgba(0, 0, 0, 0.15);
$brinput: rgba(33, 33, 33, 0.2);
$txtplc: rgba(117, 117, 117, 0.5);
$bord-input: rgba(255, 255, 255, 0.3);
$filtr-imput: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
$box-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$mob-soc: rgba(33, 33, 33, 0.2);
