/*.about__container {
  padding-top: 0;
}*/
.about {
  @include mq(noDesk) {
    display: none;
  }
}

.about__list {
  --card-item: 3;

  &-item {
    position: relative;
  }

  &-text {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px;
    background-color: $bgcolor-wdtext;
  }

  &-title {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
  }
}
