.footer {
  background-color: $background-dark-grey;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer .logo {
  margin-bottom: 20px;
}

.address {
  font-style: inherit;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-link {
  color: $footer-primary-color;
}

.street {
  color: $white-color;
}

.address .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cub-bez;
}

.address .link:hover,
.address .link:focus {
  color: $blue-logo-color;
}
.footer-submit {
  margin-left: auto;

}

form.footer-form {
  display: flex;
}

.footer-form input {
  width: 358px;
  height: 50px;
  color: $white-color;
  margin-right: 12px;
  padding: 16px 15px;

  font-size: 16px;
  background-color: transparent;
  border: 1px solid $bord-input;
  filter: $filtr-imput;
  border-radius: 4px;
}

.span-subscribe {
  margin-right: 10px;
}
