/* block 4  */

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid $grey-edging;
  @include mq(mob-only) {
      position: relative;
      
    }
}
.header__container {
  
  @include mq(tab) {
      display: flex;
      align-items: center;
    }
}