.hero {
  /*max-width: 1600px;*/
  margin-left: auto;
  margin-right: auto;
  background-color: $background-dark-grey;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  display: flex;

  background-image: linear-gradient(to right, $hero-shadow, $hero-shadow),
    url('../images/bg-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: $white-color;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  
  @media screen and (max-width: 768px) {
    font-size: 26px;
    line-height: 1.62;
  }
}
