.team {
  background-color: $light-gray-backg;
}
.team-list{
  @include mq(tab) {
      --cards-item: 2;
    }
  
    @include mq(desk) {
      --cards-item: 4;
    }
}
.team-list__item {
  box-shadow: 0px 1px 3px $team-btm, 0px 1px 1px $team-bl, 0px 2px 1px $team-br;
  border-radius: 0px 0px 4px 4px;
}

.team__content {
  text-align: center;
  background-color: $white-color;
  border-radius: 0px 0px 4px 4px;
  padding: 30px;
  margin: 0;
}

.team__title {
  font-weight: 500;
  letter-spacing: 0.03em;
  color: $color-dark;
  margin-bottom: 10px;
}

.team__specialist {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}